/* Standard App Styles */
/* These styles are used throughout the app; General styles. */

/* Font styles */
* {
    box-sizing: border-box;
    font-family: "Work Sans Light 300", verdana, arial, sans-serif;
}

html {
    font-family: sans-serif;
}

@font-face {
    font-family: "Work Sans Extra-light 200";
    src: local("Work Sans"),
        url(./assets/fonts/Work_Sans/WorkSans-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Work Sans Light 300";
    src: local("Work Sans"),
        url(./assets/fonts/Work_Sans/WorkSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Work Sans Regular 400";
    src: local("Work Sans"),
        url(./assets/fonts/Work_Sans/WorkSans-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    background-image: url('~@/assets/images/back_sky.jpg');
}

#app {
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 10rem;
}

h1,
h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

img {
    max-width: 100%;
}