/* Universe Detail Pages Styles */
/* These styles are used in components from the UniverseDetail folder */

hr {
    color: #ffe81f;
    opacity: 100%;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.detailSection {
    color: #ffe81f;
    letter-spacing: 1px;
}

span {
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 100;
}